<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js w3c"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet/less" href="/less/bootstrap/bootstrap.less">
  <!-- Code highlighting -->
  <link rel="stylesheet" href="/css/old/sourcecode/{{sourcecode_stylesheet}}.css" type="text/css" media="screen" />
  <!-- google-code-prettify -->
  <link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen" />
  <script src="/js/libs/modernizr-1.6.min.js"></script>
  <script src="/js/libs/less-1.3.0.min.js"></script>
</head>
<body>
    <header>
    <div class="container">
        <div class="row-fluid">
        {% block header %}
            
        {% endblock %}
        </div>
    </div>
    </header>
    <div id="main" class="container">
        {% block main %}
            
        {% endblock %}
    </div>
    <footer id="footer">
        <div class="container">
    {% block footer %}
        <div class="row-fluid">
            <div class="span4">
                <h2>About</h2>
                <p>This page was created as an example application to go along with an <a href="http://aurigroup.wordpress.com/2011/02/21/a-good-start-with-google-app-engine-for-python/">article I wrote</a> to give people a jumpstart on creating web applications on Google App Engine. It is not meant to be the final word on creating web applications on Google App Engine. There are <a href="http://code.google.com/p/tipfy/wiki/AppEngineFrameworks">other frameworks</a> that may suit your needs better.</p>
            </div>
            <div class="span4">  
                <h2>Software</h2>
                <p>The software it uses includes:
                    <ul class="software-list">
                        <li><a href="http://code.google.com/appengine/">Google App Engine</a></li>
                        <li><a href="http://tornadoweb.org/">Tornado Web Server</a> (<a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache Licence, Version 2.0</a>)</li>
                        <li><a href="http://jinja.pocoo.org/">Jinja2 Template System</a> (<a href="https://github.com/mitsuhiko/jinja2/raw/master/LICENSE">License</a>)</li>
                        <li><a href="http://docutils.sourceforge.net/">Docutils/reStructuredText</a> (<a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU General Public Licence</a>)</li>
                        <li><a href="http://pypi.python.org/pypi/Markdown">Markdown</a> (<a href="http://www.opensource.org/licenses/bsd-license.php">BSD License</a>)</li>
                        <li><a href="http://pygments.org/">Pygments</a> (<a href="http://www.opensource.org/licenses/bsd-license.php">BSD License</a>)</li>
                        <li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a> - 
                            Major components:
                            <ul class="software-list">
                            <li><a href="http://www.modernizr.com/">Modernizr</a>: <a href="http://www.modernizr.com/license/">MIT/BSD license</a></li>
                            <li><a href="http://jquery.com/">jQuery</a>: <a href="http://jquery.org/license">MIT/GPL license</a></li>
                            <li>Everything else:<br />
                                    <a href="http://unlicense.org/">The Unlicense</a> (aka: public domain)</li>
                            </ul></li>
                        <li><a href="http://twitter.github.com/bootstrap/">http://twitter.github.com/bootstrap/</a>: <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a></li>
                    </ul>
                </p>
            </div>
            <div class="span4 last">
                <h2>Code</h2>
                <p><A href="https://github.com/nbannist/appengine-tornado-starter">The code for this little application</a> is hosted on <a href="http://github.com">Github</a>.</p>
            </div>
        </div>
    {% endblock %}
        <div class="row-fluid">
            <div class="span12">
                <p>Copyright &copy; 2011 <a href="http://nbannist.appspot.com/">Nicholas Bannister-Andrews</a></p>
            </div>
        </div>
        </div> <!-- end of .container -->
    </footer>
   

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="/js/libs/jquery-1.7.min.js"%3E%3C/script%3E'))</script>
  
  <script src="/js/libs/google-code-prettify/prettify.js"></script>
  <script>
    $(document).ready(function() {
        prettyPrint();
    });
  </script>
</body>
</html>