{% extends "global_master_page.html" %}

{% block header %}<!-- header -->
<div class="twelvecol last">
    <h2>A Good Start with Google App Engine</h2>
    <h1>An Example Application</h1>
</div><!-- /header -->
{% endblock %}

{% block main %}<!-- main -->
<div class="row">
<form action="" method="POST" encoding="application/x-www-form-urlencoded">
    <div class="sixcol input">
        <h2>Input</h2>
        
        <div><label for="markup_type">Markup Language: <select id="markup_type" name="markup_type">
            <option value="markdown" {% if markup_type != 'rst' %}selected{% endif %}>Markdown</option>
            <option value="rst" {% if markup_type == 'rst' %}selected{% endif %}>reStructuredText</option>
        </select></label></div>
        
        <div><label for="markup_raw">Text:</label></div>
        <div><textarea id="markup_raw" cols="60" rows="10" name="markup_raw">{{raw_input}}</textarea></div>
        
        <div><input type="submit" value="Submit" /></div>
        
    </div>
    <div class="sixcol output last">
        <h2>{% if markup_type == 'rst' %}
        Docutils/rst-Pygments Output
        {% elif markup_type == 'markdown' %}
        Markdown-Pygments Output 
        {% else %}
        Instructions
        {%endif%}<h2>
        {% if raw_input == '' %}<h3>(no input)</h3>{% endif %}
        {% if markup_type != 'rst' and markup_type != 'markdown' %}
        <p>Fill out the form to the left. Select a markup language (either Markdown or reStructuredText) and then type using that markup language in the textbox. Submit to see the results.</p>
        
        <p>For coloring programming code, use the following:</p>
        <dl>
        	<dt>Markdown/Pygments example</dt>
        	<dd>
<pre><code>
Here is some python code:

    :::python

    def function(self):
        pass
</code></pre></dd>
        	<dt>reStructuredText/Python</dt>
        	<dd>
<pre>
<code>
.. sourcecode:: python

    def function(self):
        pass
</code>
</pre>        	
        	</dd>
        </dl>
        {%endif%}
        {{html_output}}
        
    </div>
</form>
</div>
{% if html_output_esc and html_output_esc != '' %}
<div class="row htmlmarkup">
    <div class="twelvecol last">
	<h2>HTML Markup</h2>
<pre>
{{html_output_esc}}
</pre>
    </div>
</div>
{% endif %}
{% endblock %}